.map-container * {
    pointer-events: none;
}
.modal .modal-content,
.modal iframe,
.modal .addthis_inline_share_toolbox *,
.copyright a,
.map {
    pointer-events: auto;
}
.marker circle.clickable,
.modal #main a,
.modal #close-modal-btn,
.map.loaded .highlight:not(.selected),
.zooming-controls #go-to-map-btn,
.zooming-controls #zoom-in-btn,
.zooming-controls #zoom-out-btn {
    pointer-events: auto;
    cursor: pointer;
}
.zooming-controls #zoom-in-btn.disabled,
.zooming-controls #zoom-out-btn.disabled {
    pointer-events: none;
}
@media (hover: hover) and (pointer: fine) {
    .map .highlight:hover {
        opacity: 1;
    }
}