html, body {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    /*overscroll-behavior: none;*/
}
svg path {
    /*fill: inherit;*/
}

svg {
    /*display: none;*/
}

.full-page {
    position: relative;
    width: 100%;
    height: 100vh; /* to be overwritten with window inner height w/ JS */
    background: #8cceea;
    overflow: hidden;
}
.full-page .map {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.zooming-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}
.zooming-controls .plus-minus-container {
    display: flex;
    justify-content: right;
}
.zooming-controls #go-to-map-btn {
    width: 120px;
}
.zooming-controls #zoom-in-btn,
.zooming-controls #zoom-out-btn {
    width: 20px;
    padding: 5px;
}

.common-symbols {
    display: block;
    width: 0;
    height: 0;
}
.main-map {
    opacity: 0;
}
.detailed-view {
    display: none;
}