.marker.marker-circle-selected circle.clickable,
.marker circle.clickable:hover {
    stroke: #fff;
}

.modal-back {
    fill: rgba(0, 0, 0, .35);
    opacity: 0;
}
.modal-container {
    position: fixed;
    top: 0;
    left: 5%;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.modal {
    position: relative;
    width: calc(100% - 100px);
    max-height: calc(100% - 85px);
    background: #FFF;
    border: 4px solid #000;
    border-radius: 30px;
    display: none;
}
.modal-container:not(.is-centralised) .modal {
    min-height: 400px;
}
@media only screen and (min-aspect-ratio: 1/1) and (min-width: 600px) and (min-height: 300px) {
    .modal-container:not(.is-centralised) {
        justify-content: right;
    }
    .modal-container:not(.is-centralised) .modal {
        width: calc(40% - 50px);
        margin-right: 20px;
    }
}
@media only screen and (max-height: 450px) {
    .modal-container:not(.is-centralised) .modal {
        min-height: auto;
    }
}

.modal .modal-content {
    width: 100%;
    border-radius: 24px;
    overflow-y: auto;
}
.is-centralised .modal iframe {
    border-radius: 24px;
}



.is-centralised .modal {
    width: calc(100% - 50px);
    max-width: 100vh;
    max-height: 80vh;
    padding: 70px 10px 30px 10px;
    border-color: #fff;
    flex-direction: column;
}
.is-centralised.is-intro .modal {
    width: 100%;
    max-width: 600px;
    max-height: calc(100vh - 170px);
    background-color: #0f7173;
    color: #ffffff;
    padding: 65px 20px 40px 20px;
    text-align: center;
}
.is-centralised.is-intro .modal .intro-title {
    font-size: 1.5em;
}
.is-centralised.is-intro .modal .modal-content {
    border-radius: 0;
}
.is-centralised:not(.is-intro) .modal .video-title {
    margin-top: -3.5em;
    line-height: 3.5em;
    font-size: 1.25em;
    padding: 0 10px;
    color: #ffffff;
}
.modal-container:not(.is-centralised) .modal .video-title {
    display: none;
}
.is-centralised:not(.is-intro) .modal .modal-content {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.is-centralised .modal iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.modal iframe,
.modal img {
    display: block;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}





.modal img {
    margin-bottom: 10px;
}
.modal img.pdf-inline-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 0 -0.1em 0;
    padding: 0 0.3em 0 0.1em;
}
.modal #main > *:not(img):not(header):not(h1):not(ul):not(ol) {
    padding: 0 60px 0 20px;
}
.modal #main > ul,
.modal #main > ol {
    padding: 0 60px 0 40px;
}
.modal #main figure {
    padding: 0;
    margin: 0;
}
.modal #main h1 {
    margin: 0;
    padding: 30px 90px 20px 20px;
    color: #fff;
}
.modal #main a:visited {
    color: #555555;
}
.modal #main a:hover {
    color: #000000;
}
a:focus {
    border: none;
    outline: none;
}





.modal #close-modal-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: #ffffff;
    opacity: 1;
}
.modal #close-modal-btn:hover:before, .modal #close-modal-btn:hover:after {
    background-color: #000;
}
.modal #close-modal-btn:before, .modal #close-modal-btn:after {
    position: absolute;
    top: 5px;
    left: 18px;
    content: ' ';
    height: 29px;
    width: 4px;
    background-color: #0f7173;
}
.modal #close-modal-btn:before {
    transform: rotate(45deg);
}
.modal #close-modal-btn:after {
    transform: rotate(-45deg);
}



.marker-title-container {
    display: none;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
.marker-title-container .marker-title-container-back {
    opacity: .9;
    fill: #ffffff;
}
.marker-title-container .marker-title,
.marker-title-container .marker-labels {
    fill: #3a6c77;
}
.marker-title-container.can-be-visible {
    display: block;
}
.marker-title-container.visible {
    opacity: 1;
}
.disable-hover .marker-title-container {
    display: none !important;
}



    /* ------------------------------------------ */
/* Central color palette */

.central .marker .visible {
    fill: #472C00;
}
.central .marker use {
    fill: #ffffff;
}
[data-active-island="central"] .modal {
    border-color: #472C00;
}
[data-active-island="central"].is-centralised .modal {
    background: #472C00;
}
[data-active-island="central"] .modal #main h1 {
    background-color: #472C00;
}
[data-active-island="central"] .modal #main a {
    color: #472C00;
}
[data-active-island="central"] .modal #main h1 a {
    color: #ffffff;
}
[data-active-island="central"] a:focus {
    border-color: #472C00;
}
[data-active-island="central"] .modal #close-modal-btn:before,
[data-active-island="central"] .modal #close-modal-btn:after {
    background-color: #472C00;
}
[data-active-island="central"] .modal #close-modal-btn:before,
[data-active-island="central"] .modal #close-modal-btn:after {
    background-color: #472C00;
}
[data-active-island="central"] .modal #main h1 {
    color: #ffffff;
}

/* ------------------------------------------ */
/* Bay color palette */

.bay .marker .visible {
    fill: #34292b;
}
[data-active-island="bay"] .modal {
    border-color: #34292b;
}
[data-active-island="bay"].is-centralised .modal {
    background: #34292b;
}
[data-active-island="bay"] .modal #main h1 {
    background-color: #34292b;
}
[data-active-island="bay"] .modal #main a {
    color: #34292b;
}
[data-active-island="bay"] .modal #main h1 a {
    color: #ffffff;
}
[data-active-island="bay"] a:focus {
    border-color: #34292b;
}
[data-active-island="bay"] .modal #close-modal-btn:before,
[data-active-island="bay"] .modal #close-modal-btn:after {
    background-color: #34292b;
}
[data-active-island="bay"] .modal #close-modal-btn:before,
[data-active-island="bay"] .modal #close-modal-btn:after {
    background-color: #34292b;
}
.bay .marker .visible {
    fill: #34292b;
}

/* ------------------------------------------ */
/* Atlanta color palette */

.atlanta .marker .visible {
    fill: #ffd900;
}
.atlanta .marker use {
    fill: #000000;
}
[data-active-island="atlanta"] .modal {
    border-color: #ffd900;
}
[data-active-island="atlanta"].is-centralised .modal {
    background: #ffd900;
}
[data-active-island="atlanta"] .modal #main h1 {
    background-color: #ffd900;
}
[data-active-island="atlanta"] .modal #main a {
    color: #b39800;
}
[data-active-island="atlanta"] .modal #main h1 a {
    color: #000000;
}
[data-active-island="atlanta"] a:focus {
    border-color: #b39800;
}
[data-active-island="atlanta"] .modal #close-modal-btn:before,
[data-active-island="atlanta"] .modal #close-modal-btn:after {
    background-color: #ffd900;
}
[data-active-island="atlanta"] .modal #close-modal-btn:before,
[data-active-island="atlanta"] .modal #close-modal-btn:after {
    background-color: #ffd900;
}
[data-active-island="atlanta"] .modal .video-title,
[data-active-island="atlanta"] .modal #main h1 {
    color: #333333;
}


/* ------------------------------------------ */
/* Memphis color palette */

.memphis .marker .visible {
    fill: #3962ab;
}
[data-active-island="memphis"] .modal {
    border-color: #3962ab;
}
[data-active-island="memphis"].is-centralised .modal {
    background: #3962ab;
}
[data-active-island="memphis"] .modal #main h1 {
    background-color: #3962ab;
}
[data-active-island="memphis"] .modal #main a {
    color: #3962ab;
}
[data-active-island="memphis"] .modal #main h1 a {
    color: #ffffff;
}
[data-active-island="memphis"] a:focus {
    border-color: #3962ab;
}
[data-active-island="memphis"] .modal #close-modal-btn:before,
[data-active-island="memphis"] .modal #close-modal-btn:after {
    background-color: #3962ab;
}
[data-active-island="memphis"] .modal #close-modal-btn:before,
[data-active-island="memphis"] .modal #close-modal-btn:after {
    background-color: #3962ab;
}

/* ------------------------------------------ */
/* LA color palette */

.LA .marker .visible {
    fill: #ee251d;
}
[data-active-island="LA"] .modal {
    border-color: #ee251d;
}
[data-active-island="LA"].is-centralised .modal {
    background: #ee251d;
}
[data-active-island="LA"] .modal #main h1 {
    background-color: #ee251d;
}
[data-active-island="LA"] .modal #main a {
    color: #ee251d;
}
[data-active-island="LA"] .modal #main h1 a {
    color: #ffffff;
}
[data-active-island="LA"] a:focus {
    border-color: #ee251d;
}
[data-active-island="LA"] .modal #close-modal-btn:before,
[data-active-island="LA"] .modal #close-modal-btn:after {
    background-color: #ee251d;
}
[data-active-island="LA"] .modal #close-modal-btn:before,
[data-active-island="LA"] .modal #close-modal-btn:after {
    background-color: #ee251d;
}

/* ------------------------------------------ */
/* Chicago color palette */

.chicago .marker .visible {
    fill: #2c554f;
}
[data-active-island="chicago"] .modal {
    border-color: #2c554f;
}
[data-active-island="chicago"].is-centralised .modal {
    background: #2c554f;
}
[data-active-island="chicago"] .modal #main h1 {
    background-color: #2c554f;
}
[data-active-island="chicago"] .modal #main a {
    color: #2c554f;
}
[data-active-island="chicago"] .modal #main h1 a {
    color: #ffffff;
}
[data-active-island="chicago"] a:focus {
    border-color: #2c554f;
}
[data-active-island="chicago"] .modal #close-modal-btn:before,
[data-active-island="chicago"] .modal #close-modal-btn:after {
    background-color: #2c554f;
}
[data-active-island="chicago"] .modal #close-modal-btn:before,
[data-active-island="chicago"] .modal #close-modal-btn:after {
    background-color: #2c554f;
}
.chicago .marker .visible {
    fill: #2c554f;
}




/* ------------------------------------------ */
/* denver color palette */

.denver .marker .visible {
    fill: #e65a59;
}
[data-active-island="denver"] .modal {
    border-color: #e65a59;
}
[data-active-island="denver"].is-centralised .modal {
    background: #e65a59;
}
[data-active-island="denver"] .modal #main h1 {
    background-color: #e65a59;
}
[data-active-island="denver"] .modal #main a {
    color: #e65a59;
}
[data-active-island="denver"] .modal #main h1 a {
    color: #ffffff;
}
[data-active-island="denver"] a:focus {
    border-color: #e65a59;
}
[data-active-island="denver"] .modal #close-modal-btn:before,
[data-active-island="denver"] .modal #close-modal-btn:after {
    background-color: #e65a59;
}
[data-active-island="denver"] .modal #close-modal-btn:before,
[data-active-island="denver"] .modal #close-modal-btn:after {
    background-color: #e65a59;
}
.denver .marker .visible {
    fill: #e65a59;
}




.marker text {
    display: none;
}
.test {
    position: fixed;
    bottom: 0;
    left: 0;
    color: #000;
}
.test * {
    pointer-events: auto !important;
}





.addthis_inline_share_toolbox {
    position: absolute;
    right: -5px;
    bottom: 80px;
}
.at-resp-share-element .at-share-btn {
    display: block !important;
}
.modal-container.is-centralised .addthis_inline_share_toolbox {
    display: none !important;
}