:root {
    --container-color: #564C7A ;
}



.marker.marker-circle-selected circle.clickable,
.marker circle.clickable:hover {
    stroke: #fff;
}

.modal-back {
    fill: rgba(0, 0, 0, .35);
    opacity: 0;
}
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*visibility: hidden;*/
}
.modal {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    border: 4px solid var(--container-color);
    position: relative;
    width: calc(100% - 50px);
    max-height: calc(100% - 20px);
    background: #FFF;
    border-radius: 30px;
    display: none;
    overflow: hidden;
}

@media only screen and (min-aspect-ratio: 1/1) and (min-width: 600px) and (min-height: 300px) {
    .modal-container:not(.is-video) {
        justify-content: right;
    }
    .modal-container:not(.is-video) .modal {
        width: calc(40% - 50px);
        margin-right: 20px;
    }
}


.modal .modal-content {
    width: 100%;
    overflow-y: scroll;
}



.is-video .modal {
    width: calc(100% - 20px);
    max-width: 130vh;
}
.is-video .modal .modal-content {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.is-video .modal iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.modal iframe,
.modal img {
    display: block;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}





.modal img {
    margin-bottom: 10px;
}
.modal #main h1,
.modal #main h2,
.modal #main h3,
.modal #main h4,
.modal #main h5,
.modal #main > div,
.modal #main > p,
.modal #main > article {
    padding: 0 20px;
}
.modal #main figure {
    padding: 0;
    margin: 0;
}
.modal #main h1 {
    margin: 0;
    padding: 30px 30px 20px 20px;
    background-color: var(--container-color);
    color: white;
}
.modal #main a {
    color: var(--container-color);
    font-weight: bold;
    text-decoration: underline;
}
.modal #main a:visited {
    color: #555555;
}
.modal #main a:hover {
    color: #000000;
}
a:focus {
    border: 1px solid var(--container-color);
    outline: none;
}




.modal #close-modal-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: #ffffff;
    opacity: 1;
}
.modal #close-modal-btn:hover:before, .modal #close-modal-btn:hover:after {
    background-color: #000;
}
.modal #close-modal-btn:before, .modal #close-modal-btn:after {
    position: absolute;
    top: 5px;
    left: 18px;
    content: ' ';
    height: 29px;
    width: 4px;
    background-color: var(--container-color);
}
.modal #close-modal-btn:before {
    transform: rotate(45deg);
}
.modal #close-modal-btn:after {
    transform: rotate(-45deg);
}
.is-video .modal #close-modal-btn {
    display: none;
}










.marker text {
    display: none;
}
.central .marker .visible {
    fill: #000;
}
.denver .marker .visible {
    fill: #f00;
}
.atlanta .marker .visible {
    fill: #000;
}
.memphis .marker .visible {
    fill: purple;
}
.LA .marker .visible {
    fill: yellow;
}
.bay .marker .visible {
    fill: deeppink;
}







.test {
    position: fixed;
    top: 0;
    left: 0;
    font-family: sans-serif;
}
.test * {
    pointer-events: auto !important;
}